@mixin board-base {
    background-color: #222;
    min-width: 350px;
    padding: 8px 16px;
    margin: 20px;
    overflow: hidden;
    transition: width 0.3s ease;

    * {
        font-family: "UkPIDS", sans-serif;
        color: orange;
        font-size: 14px;
        line-height: 1.3em;
        font-weight: normal;
        padding: 0px;
        margin: 0px;
    }
}
