
@mixin single-train(){
    trains{
        /* Allow the base layout to control how many columns are shown via --single-train-columns. */
        margin: 0px;
        gap: 0px;
        column-gap: 0px;
        

        &:before{
            background-color: var(--train-header-background-color);
            position: absolute;
            content: "";
            display: block;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 104px;
            z-index: 1;
        }

        train{
            grid-template-rows: 36px 20px 20px 20px 36px 1fr auto auto auto;
            gap: 0px;
            z-index: 2;
            
            time.departure {
                grid-row: 1;
                grid-column: 1 / -1;
                font-weight: bold;
                @include header();
                padding-top: 16px;
            }

            .destination {
                grid-row: 2;
                grid-column: 1 / -1;
                font-weight: bold;
                @include header();
            }

            .platform{
                grid-row: 4;
                grid-column: 1 / -1;
                @include header();
                padding-bottom: 16px;
                .prefix{ display: inline-block;}
            }

            &:after{
                display: none;
                content: "";
            }

            &:before {
                grid-row: 9;
                @include board-padding();
            }
            
            h3.calling-at {
                grid-row: 5;
                @include board-padding();
                padding-top: 16px;
                font-size: 1em;
                &:after{
                    content: ": ";
                    display: inline-block;
                }
            }
            stations.calling-at {
                grid-row: 6;
                display: block;
                color: white;
                @include board-padding();

                station{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    font-size: 1em;
                    padding: 1px 0px;

                    .location.stop{
                        grid-column: 1;
                    }
                    time {
                        grid-column: 2;
                    }

                    .estimated {
                        &:before, &:after {
                            display: none;
                            content: "";
                        }
                    }

                    &:last-child{
                        .location.stop, time {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
@mixin board-padding(){
    padding: 2px 16px;
}
@mixin header()
{
    @include board-padding();
    background-color: var(--train-header-background-color);
    color: white;
    text-align: left;
}