@font-face {
    font-family: "Modern National Rail PIS Small";
    src: url("../font/modern-national-rail-pis-small.ttf") format("truetype");
    font-display: swap;
}

body {
    margin: 0;
    padding: 1em;
    background-color: #000;
}

.board {

    background-color: #222;
    width: 350px;
    padding: 8px 16px;
    margin: 20px;
    overflow: hidden;

    * {
        font-family: "Modern National Rail PIS Small", sans-serif;
        color: orange;
        font-size: 16px;
        font-weight: normal;
        padding: 0px;
        margin: 0px;
    }

    header,
    footer,
    .prefix {
        display: none;
    }

    .trains{
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: auto auto;
        gap: 4px;
        &.four-rows{
            grid-template-rows: auto auto auto;
        }

        .train{
            grid-template-columns: subgrid;
            display: none;
            grid-column: 1 / -1;
            gap: 4px 8px;
            opacity: 1;

            time.departure{
                grid-column: 2;
            }

            [itemprop="departureStation"]{
                display: none;
            }
            
            &:after{
                content: attr(data-status);
                display: block;
                grid-column: 4;
                grid-row: 1;
            }
            &:has(.on-time):after{
                // All good.
            }
            &:not(:has(.on-time)):after{
                color: red;
            }
            .destination.final{
                grid-column: 3;
            }
            .calling-at
            {
                display: none;
            }
            span.can-scroll{
                overflow: hidden;
                white-space: nowrap;
                &.scroll > .scroller{
                    position: relative;
                    display: inline-block;
                    animation: text-scroll 5s linear infinite alternate;
                }
            }
            ol.calling-at {
                grid-column: 3 / 5;
                overflow: hidden;
                white-space: nowrap;
                white-space-collapse: collapse;

                li {
                    display: inline-block;
                    white-space-collapse: collapse;
                    position: relative;
                    animation: calling-at-scroll 10s linear infinite;

                    &:not(:last-child) {
                        &:after {
                            content: ",";
                            display: inline-block;
                            position: relative;
                            left: -5px;
                        }
                    }

                    .estimated {
                        &:before {
                            content: " (";
                            display: inline-block;
                        }

                        &:after {
                            content: ")";
                            display: inline-block;
                        }
                    }
                }
            }

            &:nth-child(1) {
                grid-row: 1;
                display: grid;
                &:before{
                    content: "1st";
                    display: block;
                    grid-column: 1;
                }
                h3.calling-at{
                    grid-row: 2;
                    grid-column: 1 / 3;
                    display: block;
                }
                ol.calling-at {
                    display: inline-block;
                }
            }

            &:nth-child(2) {
                &:before{
                    content: "2nd";
                }
            }
            &:nth-child(3) {
                &:before{
                    content: "3rd";
                }
            }
            &:nth-child(4) {
                &:before{
                    content: "4th";
                }
            }
            &:nth-child(5) {
                &:before{
                    content: "5th";
                }
            }
            &:nth-child(6) {
                &:before{
                    content: "6th";
                }
            }
            &:nth-child(7) {
                &:before{
                    content: "7th";
                }
            }

            &.show {
                grid-row: 2;
                display: grid;
                position: relative;
                animation: show-following-train-scroll 10s linear forwards;
                &:before{
                    display: block;
                    grid-column: 1;
                }
            }
        }

    }

}

@keyframes show-following-train-scroll {
    0% {
        top: 2em;
        opacity: 1;
    }

    10% {
        top: 0;
        opacity: 1;
    }

    90% {
        top: 0;
        opacity: 1;
    }
    95% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}
@keyframes text-scroll {
    0% {
        left: 0;
    }

    40% {
        left: 0;
    }

    80% {
        left: calc((var(--available-width) - var(--actual-width)));
    }

    100% {
        left: calc((var(--available-width) - var(--actual-width)));
    }
}

@keyframes calling-at-scroll {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    80% {
        left: calc((var(--available-width) - var(--actual-width)));
    }

    100% {
        left: calc((var(--available-width) - var(--actual-width)));
    }
}

@media (prefers-reduced-motion: reduce) {
    .board .train ol.calling-at {
        animation: none;
    }
}
